@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2em;
  height: 2em;
}

@layer base {
  h1 {
    @apply text-blue text-4xl sm:text-6xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  p {
    @apply text-base;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: black;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navig {
  @apply shadow-2xl flex flex-row p-5 w-full h-[4rem] border-[.5px] rounded-lg font-medium  justify-center items-center gap-4 sm:gap-[25rem] text-[20px] sm:text-[40px];
}
.watermark {
  @apply text-blue p-5 text-center text-xl;
}

p {
  @apply text-left sm:text-center;
}
.shadow-glow {
  @apply shadow-sm;
  @apply hover:shadow-md;
  @apply transition duration-500 ease-in-out;
}
